.bannerContainer
{
    height: 82vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 900px)
{
    .bannerContainer
    {
        height: 40vh;
    }
}
