.bannerContainer
{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    object-position: right;
    height: 40rem;
    margin-top: -2rem;
    width: 100%;
    position: relative;
    animation: anim .5s ease-in-out;
}

.bannerImg
{
    object-fit: cover;
    object-position: center;
}

@keyframes anim
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 600px)
{
    .bannerContainer
    {
        height: 15rem;
    }
}
