.bannerContainer
{
    height: 42rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    object-position: right;
}

@media screen and (max-width: 900px)
{
    .bannerContainer
    {
       min-height: auto;
    }
}
