.container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    flex-wrap: wrap;
    gap: .7rem;
}

.container:last-child
{
    margin-right: auto;  
}

.img
{
    object-fit: cover;
    object-position: top;
    border-radius: .4rem;
}