.tvSeriesContainer
{
    margin: 2rem 0rem;
}

.title
{
    font-size: clamp(1.4rem, 2vw, 1.7rem);
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.tvSeriesContainer
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .7rem;
    overflow-y: auto; 
    padding: 1.5rem .5rem;
    margin-top: 0rem;
}

.imgContainer
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img
{
    object-fit: cover;
    object-position: top;
    border-radius: .2rem;
    cursor: pointer;
}
