.actorWrapper
{
    margin: 6rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.name
{
    text-align: start;
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}

.subtitle
{
    margin-bottom: 2rem;
    font-size: clamp(1.2rem, 2vw, 1.7rem);
}

.actorImages
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

@keyframes personAnimation
{
    0%{
        filter: grayscale(100%);
        opacity: 0;
    }

    100%
    {
        filter: none;
        opacity: 1;
    }
}

.personImg
{
    object-fit: cover;
    object-position: top;
    transition: all .7s ease-in-out;
    animation: personAnimation 1s ease-in-out;
}

.person
{
    position: relative;
    width: 160px;
}

.expand
{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21, 20, 20, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.4rem);
    letter-spacing: .1rem;
    border: 0;
    opacity: 0;
    backdrop-filter: blur(8px);
    transition: opacity .4s ease-in-out;
}

.leftContainer
{
    width: 270px;
}

.expandText
{
    z-index: 1;
}

.expand:hover
{
    opacity: 1;
    cursor: pointer;
}

.container
{
    margin-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem; 
    margin-bottom: 2rem;
}

.profilePath
{
    object-fit: cover;
    object-position: top;
    border-radius: .2rem;
    transition: all .8s ease-in-out;
}

.biography
{
    max-width: 600px;
    text-align: justify;
    line-height: 1.4rem;
    padding: 0rem 1rem;
    font-weight: bolder;
}

.generalText
{
    margin-bottom: .5rem;
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    padding: 0.1rem 1rem;
    color: rgb(240, 234, 234);
}

.text
{
    font-weight: lighter;
    color: rgb(216, 213, 213);
}

.biography
{
    margin-bottom: .5rem;
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    padding: 0rem 1rem;
}

.readMore
{
    background: none;
    cursor: pointer;
    border-bottom: 2px solid rgb(98, 33, 78);
    border-right: 2px solid rgb(75, 15, 55);
    border-top: 0;
    border-left: 0;
    color: var(--white10);
    padding: 1rem 1rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    margin: 1rem 1rem;
    transition: all .3s ease;
}

.info
{
    text-align: center;
    width: 100%;
    padding-top: 2rem;
    font-size: clamp(1.2rem, 2vw, 1.5rem);

}

.socialMedia
{
    font-size: clamp(1.1rem, 2vw, 1.2rem);
}

.homepage
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.homepageHref
{
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    color: rgb(220, 216, 216);
    font-weight: bolder;
}

.hrefIcon
{
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    vertical-align: middle;
    cursor: pointer;
    color: rgb(213, 207, 207);
    transition: all .5s ease-in-out;
}

.externalIds
{
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    margin-left: .9rem;
}

.hrefIcon:hover
{
    transform: scale(1.1);
    color: rgb(109, 104, 109);
}

.modal
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 400px;
    overflow: hidden;
    border: none;
}

.modal:focus
{
    outline: none;
}
  
.overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
}

.modalImage
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: personAnimation 1s ease-in-out;
}

.moreImages
{
    margin-bottom: 2rem;
    padding-top: 3rem;
    color: white;
    cursor: pointer;
    font-size: clamp(1.3rem, 2vw, 1.6rem);
}

@media (max-width: 580px)
{
    .actorImages
    {
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 1rem;
    }

    .moreImages
    {
        padding: 1.5rem 1rem 0rem 1rem;
    }

    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

  
