.moviesCategoriesContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: .5px solid white;
    border-radius: 19px;
    width: 500px;
    padding: .7rem;
}

.categoriesContainer
{
    margin-bottom: 3rem;
}

.moviesCategoriesBtn
{
    background: none;
    display: flex;
    border: none;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    font-weight: bolder;
    cursor: pointer;
}

@media screen and (max-width: 700px)
{
    .moviesCategoriesContainer
    {
        width: 300px;
    }
}

.movies 
{
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
}

@media screen and (max-width: 450px)
{
    .moviesCategoriesContainer
    {
        width: 240px;
        padding: 1rem;
    }

    .moviesCategoriesBtn
    {
        font-size: .7rem;
    }
}

