.moviesContainer
{
    width: 100%;
    display: flex;
    gap: .2rem;
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    overflow-y: hidden;
}

.img
{
    object-fit: cover;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: .4rem;
    animation: imageAnimation 1.2s ease-in;
    cursor: pointer;
    margin-bottom: 1rem;
}

@keyframes imageAnimation
{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
}
  
.title
{
  font-size: clamp(.9rem, 2vw, 1rem);
  color: rgb(175, 167, 167);
  margin-top: .5rem;
  width: 8rem;
}

