.moviesContainer
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 1rem 1rem 1rem;
}

.img
{
    object-fit: cover;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: .4rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.title
{
  font-size: clamp(.9rem, 2vw, 1rem);
  color: rgb(175, 167, 167);
  margin-top: .5rem;
  width: 10rem;
}

