.img
{
    object-fit: cover;
    object-position: top;
    animation: anim .6s ease-in;
}

.backdrops
{
    width: 100%;
    height: auto;
}

@keyframes anim
{
    from{
        opacity: 0;
        filter: grayscale(100%);
    }
    to {
        opacity: 1;
        filter: none;
    }
}

@media screen and (max-width: 600px)
{
    .img
    {
        width: 20rem;
        height: 20rem;
    }
}
