.img
{
    object-fit: cover;
    object-position: top;
    animation: anim .6s ease-in;
}

.backdrops
{
    width: 670px;
    height: auto;
    padding: 2rem;
}

@keyframes anim
{
    from{
        opacity: 0;
        filter: grayscale(100%);
    }
    to {
        opacity: 1;
        filter: none;
    }
}
