.img
{
    object-fit: cover;
    object-position: top;
}

.backdrops
{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px)
{
    .img
    {
        width: 20rem;
        height: 20rem;
    }
}
