.recommendationsForTvSeries
{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    flex-direction: column;
}

.recommendationsForMovies
{
    width: 100%;
}

.moviesWrapper
{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: flex-start;
}

.tvWrapper
{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 1rem;
    gap: 1rem;
}

.img
{
    object-fit: cover;
    border-radius: .3rem;
    object-position: center;
    box-shadow: 2px 2px 7px 0px rgb(18, 18, 18);
    transition: all .5s ease-in-out;
}

.img:hover
{
    filter: hue-rotate(160deg);
}

.containerImg,
.tvMedia
{
    cursor: pointer;
}

.container
{
    width: 100%;
   
}

.recommendationsTitle
{
    margin-top: 2rem;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    margin-bottom: 2rem;
    filter: hue-rotate(90deg);
    text-align: center;
    width: 100%;
}

.containerImg
{
    position: relative;
    width: 200px;
    height: 280px;
}
@media screen and (max-width: 600px)
{
    .recommendationsTitle
    {
        margin-top: 2rem;
    }

    .container{
        padding: 0;
    }
}