.recommendationsForTvSeries
{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    flex-direction: column;
}

.moviesWrapper
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.tvWrapper
{
    display: flex;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 1rem;
}

.img
{
    object-fit: cover;
    border-radius: .3rem;
    object-position: center;
    box-shadow: 2px 2px 7px 0px rgb(18, 18, 18);
    transition: all .5s ease-in-out;
}

.img:hover
{
    filter: hue-rotate(160deg);
}

.recommendationsTitle
{
    margin-top: 2rem;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    margin-bottom: 2rem;
    filter: hue-rotate(90deg);
    text-align: center;
    width: 100%;
}

.containerImg
{
    width: 250px;
    height: 350px;
    position: relative;
    gap: 1rem;
}

.tvMedia,
.movieMedia
{
    width: 230px;
}

@media screen and (max-width: 600px)
{
    .recommendationsTitle
    {
        margin-top: 2rem;
    }

    .container{
        padding: 0;
    }
}