.movieContent
{
  object-position: top;
  border-radius: 1rem;
  animation: anim 1s ease-in;
  margin-top: 5rem;
  width: 100%;
}

.movieDetailContainer
{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.flexContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: rgba(8, 8, 8, 0.7);
  padding: 2rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--shadow20);
}

.title
{
  font-size: clamp(1.4rem, 3vw, 2.2rem);
}

.textBold
{
  font-weight: bolder;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
}

.releaseDate
{
  color: white;
  font-size: clamp(.9rem, 2vw, 1.1rem);
  margin-bottom: .5rem;
  font-weight: bolder;
}

.language
{
  text-transform: uppercase;
}

.description
{
  width: 70%;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  margin-top: .6rem;
}

@keyframes anim
{
  from 
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

.vote
{
  margin-top: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border: 4.5px inset rgb(106, 132, 186) ;
  display: grid;
  place-content: center;
  border-radius: 50%;
  filter: hue-rotate(90deg);
  margin-bottom: 1rem;
} 

.text
{
  font-size: 1rem;
}

.tagline
{
  font-size: clamp(1rem, 2vw, 1.1rem);
  max-width: 400px;
  margin-top: 2rem;
}

.viewTrailer
{
  font-size: 1.2rem;
  background: none;
  border: none;
  font-weight: bolder;
  color: var(--white20);
}

.titleAndPlayBtn
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 3rem;
  flex-wrap: wrap;
}

.btnContainer
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  box-shadow: 3px 4px 8px 0px rgb(85, 66, 88);
}

.playIcon
{
  color: var(--white20);
  font-size: 1.7rem;
  cursor: pointer;
}

.recommendationsContainer
{
  padding: 2rem 2rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteFlexContainer
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.userScore
{
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: bolder;
  color: white;
}

.moreImages
{
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}

.imagesFlexContainer
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
  overflow-x: auto;
}

@media screen and (max-width: 414px)
{
  .btnContainer
  {
    margin-top: 1rem;
  }
}

@media (max-width: 500px)
{

  .flexContainer
  {
    margin-top: 4rem;
   
  }

  .description
  {
    width: 100%;
  }

  .genres
  {
    width: 10rem;
  }

  .genresList
  {
    flex-wrap: wrap;
  }
}
