.genres
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .8rem;
    color: rgb(244, 242, 243);
    font-size: clamp(.9rem, 2vw, 1.1rem);
    width: 100%;
}

.textBold
{
  font-weight: bolder;
  font-size: clamp(1rem, 2vw, 1.2rem);
}
