.cast
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    flex-wrap: nowrap;
}

.castContainer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.revenue,
.status, 
.budget
{
    font-size: clamp(.9rem, 2vw, 1rem);
    margin-top: 1rem;
}

.title
{
    margin-top: 1.5rem;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    margin-bottom: 1rem;
    border-right: 2px solid rgb(106, 132, 186);
    filter: hue-rotate(90deg);
    height: 3rem;
    width: 7rem;
}

.img
{
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    object-position: center;
    clip-path: circle();
}

.img:hover
{
    opacity: .8;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all .7s ease-in-out;
}

.img:active
{
    opacity: .8;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all .7s ease-in-out;
}

.name
{
    font-size: clamp(.6rem, 2vw, .9rem);
    text-align: center;
}

.socialsContainer
{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.imdbIcon, .facebookIcon
{
    object-fit: cover;
    cursor: pointer;
    width: 2.7rem;
    height: 2.7rem;
}

.text{
    margin-top: 1rem;
    font-size: clamp(1rem, 2vw, 1.1rem);
}

@media screen and (max-width: 500px)
{
    .img{
        height: 6rem;
        width: 6rem;
    }
}