* 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root
{
  --black: rgb(0, 0, 0);
  --black10: #181818;
  --gray10: rgb(119, 119, 119);
  --gray40: rgba(42, 42, 42, 0.6);
  --white30: rgb(209, 213, 219);
}

html,
body
{
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  color: white;
}

a
{
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}

::-webkit-scrollbar
{
  height: 8px;
  width: 8px;
}
  
::-webkit-scrollbar-thumb
{
  background-color: rgb(61, 12, 48);
  border-radius: 30px;
}
  
::-webkit-scrollbar-track
{
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

li
{
  list-style: none;
}

.category-btn
{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
}

.category-btn:hover
{
  opacity: .7;
  transition: opacity .5s ease-in-out;
}

.sidebar
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
  padding: 1rem;
  width: 12rem;
  z-index: 1;
  background: rgb(0, 0, 0);
}

.search-bar
{
  border: none;
  outline: none;
  width: 350px;
  font-size: 18px;
  background: none;
  padding: 1rem;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-bar::placeholder
{
  color: rgb(255, 255, 255);
  font-size: clamp(.9rem, 2vw, 1.1rem);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.feedMovies
{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card-media:hover
{
  filter: hue-rotate(100deg);
  border: none;
}

.card-media:active
{
  filter: hue-rotate(100deg);
  border: none;
}

.pagination
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0!important;
  padding: 1rem 0rem 1rem;
  flex-wrap: wrap;
}

.navBtn
{
  background: none;
  border: none;
  padding-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  color: var(--white20);
}

.navBtn:hover
{
  cursor: pointer;
  color: rgb(194, 83, 191);
  transition: all .6s ease-in-out;
}

.query
{
  color: rgb(214, 214, 214);
  filter: hue-rotate(90deg);
  letter-spacing: .1rem;
  text-transform: capitalize;
  padding: 3rem 2rem;
  font-size: clamp(.9rem, 2vw, 1.3rem);
}

.selected-btn
{
  background: rgb(125, 9, 132)!important;
  color: white!important;
}

.pagination-btn
{
  color: rgb(255, 255, 255)!important;
  letter-spacing: .1rem;
}

.pagination-btn:hover
{
  color: rgb(125, 9, 132);
}

.react-player
{
  width: 100%;
}

.card-media
{
  animation: animMediaCard 1s ease-in-out;
  border-radius: .4rem;
  height: 22rem;
  border-top: 1px solid #2e2c2c;
  gap: 1rem;
  width: 15rem;
}

.typography
{
  width: 13rem;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9rem;
}

@keyframes animMediaCard
{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 900px)
{
  .sidebar
    {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding: 1.5rem;
      margin-bottom: 2rem;
      width: 100vw;
      position:initial;
    }
}

@media screen and (max-width: 600px)
{
    .search-bar
    {
      width: 160px;
    }

    .feedContainer
    {
      display: flex;
      flex-direction: column;
    }

    .pagination
    {
      justify-content: flex-start;
    }
}

@media screen and (max-width: 450px)
{
  .card-media
  {
    width: 14rem!important;
  }
}