* 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root
{
  --black: rgb(0, 0, 0);
  --black10: #181818;
  --black20: rgba(0, 0, 0, 0.6);
  --black30: rgb(17, 24, 39);
  --black40: #141414;
  --black50: rgb(20, 20, 20);

  --gray10: rgb(119, 119, 119);
  --gray40: rgba(42, 42, 42, 0.6);

  --white10: rgba(255, 255, 255, 1);
  --white20: rgba(243, 244, 246, 1);
  --white30: rgb(209, 213, 219);

  --shadow10: rgba(0, 0, 0, 0.3);
  --shadow20: rgba(158, 155, 155, 0.3);
  --shadow30: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

html,
body
{
  overflow-x: hidden;
  font-family: "Roboto Slab",serif;
  background-color: var(--black);
  color: var(--white20);
}

a
{
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--white20);
}

@media (prefers-color-scheme: dark)
{
  html
  {
    color-scheme: dark;
  }
}

::-webkit-scrollbar
{
  height: 8px;
  width: 8px;
}
  
::-webkit-scrollbar-thumb
{
  background-color: rgb(61, 12, 48);
  border-radius: 30px;
}
  
::-webkit-scrollbar-track
{
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

li
{
  list-style: none;
}

.category-btn
{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
}

.category-btn:hover
{
  opacity: .7;
  transition: opacity .5s ease-in-out;
}

.sidebar
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
  padding: 1rem;
  width: 12rem;
}

.search-bar
{
  border: none;
  outline: none;
  width: 350px;
  font-size: 18px;
  background: none;
  color: var(-white20);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-bar:focus
{
  outline: none;
}

.search-bar::placeholder
{
  color: rgb(255, 255, 255);
  font-size: clamp(.9rem, 2vw, 1rem);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-media:hover
{
  filter: hue-rotate(100deg);
  border: none;
}

.card-media:active
{
  filter: hue-rotate(100deg);
  border: none;
}

.pagination
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem 1rem;
}


.navBtn
{
  background: none;
  border: none;
  padding-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  color: var(--white20);
}

.navBtn:hover
{
  cursor: pointer;
  color: rgb(194, 83, 191);
  transition: all .6s ease-in-out;
}

.query
{
  color: rgb(214, 214, 214);
  filter: hue-rotate(90deg);
  letter-spacing: .1rem;
  text-transform: capitalize;
  padding: 3rem 2rem;
  font-size: clamp(.9rem, 2vw, 1.3rem);
}

.selected-btn
{
  background: rgb(125, 9, 132);
}


.pagination-btn
{
  color: rgb(244, 244, 244);
  letter-spacing: .1rem;
}

.pagination-btn:hover
{
  color: rgb(125, 9, 132);
}

.react-player
{
  width: 100%;
}

.card-media
{
  animation: animMediaCard 1s ease-in-out;
}

@keyframes animMediaCard
{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0.5
  }

  100%{
    opacity: 1
  }
}

@media screen and (max-width: 900px)
{
  .sidebar
    {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: scroll;
      padding: 1.5rem;
      margin-bottom: 2rem;
      width: 100vw;
    }
}

@media screen and (max-width: 600px)
{
    .search-bar
    {
      width: 160px;
    }

    .feedContainer
    {
      display: flex;
      flex-direction: column;
    }
}
