.wrapper
{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.title
{
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    padding-bottom: 2rem;
    text-align: center;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
    column-gap: .6rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.popularPeopleWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.people
{
    object-fit: cover;
    object-position: top;
    animation: animation 1s ease-in-out;
    border-radius: .2rem;
    transition: all .6s ease-in-out;
}

.people:hover
{
    filter: grayscale(90%);
}

.name
{
    font-size: clamp(.9rem, 2vw, 1rem);
    animation: animation 1s ease-in-out;
}

.noResults
{
    font-size: clamp(1.5rem, 3vw, 2rem);
}

@keyframes animation
{
    0%{
        opacity: 0;
        filter: grayscale(100%);
    }
    100%{
        opacity: 1;
        filter: none;
    }
}

.paginationBtn
{
    color: rgb(148, 74, 146);
}

.people:hover
{
    transform: scale(1);
}

.searchbarContainer
{
    margin-top: 6rem;
    width: 30rem;
    display: grid;
    place-items: center;
    place-content: center;
}

.popularPeopleWrapper
{
    display: grid;
    place-content: center;
    place-items: center;
}

@media screen and (max-width: 500px)
{
    .container
    {
        column-gap: .6rem;
        align-items: center;
        justify-content: center;
    }

    .popularPeopleWrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}