.wrapper
{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.title
{
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    padding-bottom: 2rem;
    text-align: center;
}

.container
{
    display: flex;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
    row-gap: 7rem;
    margin-bottom: 4rem;
    column-gap: .6rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.people
{
    object-fit: cover;
    object-position: top;
    border-bottom: 1px solid transparent;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    animation: animation 1.5s ease-in-out;
    transition: transform .7s ease-out;
}

@keyframes animation
{
    0%{
        opacity: 0;
        filter: grayscale(100%);
    }
    100%{
        opacity: 1;
        filter: none;
    }
}

.paginationBtn
{
    color: rgb(148, 74, 146);
}

.people:hover
{
    transform: scale(1.1);
}

.searchbarContainer
{
    margin-top: 6rem;
    width: 30rem;
    display: grid;
    place-items: center;
    place-content: center;
}

.popularPeopleWrapper
{
    display: grid;
    place-content: center;
    place-items: center;
}

@media screen and (max-width: 500px)
{
    .people
    {
        width: 10rem;
        height: 15rem;
    }

    .container
    {
        column-gap: .6rem;
        align-items: center;
        justify-content: center;
    }

    .container:last-child
    {
        margin-right: auto;
    }
    .name
    {
        width: 4rem;
        text-overflow: ellipsis;
    }
}