.flexContainer
{
    width: 100%;
    display: flex;
    background: rgba(2, 2, 2, 0.8);
    height: auto;
    border: 1px solid var(--shadow20);
    border-radius: 1rem;
    align-items: center;
    justify-content:flex-start;
    padding: 3rem 2rem;
    flex-wrap: wrap;
    gap: 3rem;
}

.tvContainer
{
    display: flex;
    flex-wrap: nowrap!important;
}

.container
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper
{
    margin-top: 6rem;
}

.right,
.left
{
    flex: 1;
}

.img
{
    object-fit: cover;
    border-radius: .5rem;
}

.title
{
    font-size: clamp(1.8rem, 2vw, 2.3rem);
    letter-spacing: .1rem;
    color: var(--white20);
}

.tagline
{
    margin-bottom: -.5rem;
    margin-top: .5rem;
    font-size: 1rem;
    color:rgb(203, 208, 219);
}

.seeSeasons
{
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    color:rgb(203, 208, 219);
    font-weight: bolder;
    cursor: pointer;
}

.genresList
{
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-top: .5rem;
    color: var(--white20);
    font-size: clamp(.9rem, 2vw, 1.1rem);
    width: 100%;
}

.genre
{
    display: flex;
    flex-wrap: wrap;
}

.overview
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.overviewText
{
    margin-top: .5rem;
    font-size: clamp(1rem, 2vw, 1rem);
}

.vote
{
  margin-top: 1rem;
  width: 3.8rem;
  height: 3.8rem;
  border: 4.5px inset rgb(144, 157, 185) ;
  place-content: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: grid;
  position: relative;
}

.voteContainer
{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 1rem;
flex-wrap: wrap;
}

.trailer
{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.playIcon:hover
{
    cursor: pointer;
}

.text
{
    font-size: clamp(1rem, 2vw, 1.1rem);
}

.castContainer
{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

.castTitle
{
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    margin-bottom: 2rem;
}

.castFlexContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.cast
{
    height: 22rem;
    border-radius: .2rem;;
    background: rgb(1, 1, 1);
    position: relative;
    width: 190px;
}

.expand
{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21, 20, 20, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.4rem);
    letter-spacing: .1rem;
    border: 0;
    opacity: 0;
    backdrop-filter: blur(8px);
    transition: opacity .4s ease-in-out;
}

.expandText
{
    z-index: 1;
}

.expand:hover
{
    opacity: 1;
    cursor: pointer;
}

.castImg
{
    object-fit: cover;
    border-top: 1px solid transparent;
    border-radius: .2rem;
    object-position: top;
    transition: transform .4s ease-in-out;
}

.castImg:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.castImg:active
{
    cursor: pointer;
    transform: scale(1.1);
}

.character
{
    font-size: clamp(.8rem, 2vw, .9rem);
    padding-bottom: .6rem;
    color: rgb(164, 161, 161);
}

.castName
{
    font-weight: bolder;
    padding: .4rem 0rem;
    font-size: clamp(.9rem, 2vw, 1.1rem);
}

.character
{
    font-size: clamp(.8rem, 2vw, 1rem);
}

.character,
.castName
{
    padding-left: .3rem;
}

.backdrops
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.images
{
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backdropsTitle
{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: bolder;
    padding: 2rem 2rem;
}

.arrowContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    margin-bottom: 1rem;
}

.prevIcon,
.nextIcon
{
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s ease-in;
    color: white;
}

.iconBtn
{
    background: none;
    border: none;
    cursor: pointer;
}

.prevIcon:hover, .nextIcon:hover
{
    color: rgb(168, 152, 164);
}

.seasons
{
    padding: 3rem 2rem;
}

.seasonTitle
{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: bolder;
}

