.wrapper
{
    
    display: flex;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.moviesContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    padding: 2rem;
}

.flexContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 850px)
{
    .wrapper
    {
        flex-direction: column;
    }

    .moviesContainer
    {
        margin-left: 0;
    }
}

@media screen and (max-width: 900px)
{
    .wrapper
    {
        flex-direction: column;
        overflow: hidden;
    }
}